/*
Sidebar : #1C578F


*/

*, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F3F4F9;
  margin: 80px 0px 0px 240px;
}

a, a:hover, a:visited, a:link, a:active {
  color: inherit;
  text-decoration: none;
}

.spacer {
  margin-right: 15px;
}

.muted {
  opacity: 0.7;
}
/* ====================
Sidebar
====================== */
.sidebar {
  background-color: #061E40;
  height: 100%;
  min-width: 240px;
  left: 0;
  position: absolute;
  top: 0;
}

.sidebar-nav li {
  list-style-type: none;
  display: block;
  height: auto;
}

.sidebar-nav li a {
  color: white;
  display: block;
  padding: 20px 0px 20px 0px;
  opacity: 0.8
}

.sidebar-button {
  padding-left: 20px;
}

.sidebar-header {
  padding-left: 5px;
}

.logo {
  color: white;
  margin: 10px;
  margin-bottom: 15px;
  height: 50px;
  font-family: 'Pacifico', cursive;
  background-image: url('../assets/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.active {
  background-color: #175590;
  color: #FFFFFF;
  border-right: 7px solid #E46AA3;
}

.user-info {
  height: 120px;
}

.user-info img {
  max-height: 80px;
  border-radius: 50%;
}

.info-panel {
  margin-left: 5px;
  color: #FFFFFF;
}

.profile-details {
  padding-left: 20px;
}

/* ====================
Navbar
====================== */
.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #FFFFFF;
  width: calc(100% - 240px);
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  height: auto;
}

.navbar a {
  display: block;
}

.navbar-right li {
  border-left: 1px solid lightgray;
  padding: 0px 10px 0px 10px;
}

.profile img {
  border-radius: 50%;
  max-width: 1.4em;
}

/* ====================
Partials
====================== */
.partial-wrapper {
  margin: 25px;
}
