<div class = "partial-wrapper">
    <ul class="collection card">
        <li class="collection-item">
            <div class="row flex vcenter">
                <div class="col-xs-1"><img src="/assets/e-.png" style="width:25px"></img></div>
                <div class="col-xs-2"><img src = "../assets/profile.png" class="img-responsive circle"></img></div>
                <div class="col-xs-6">
                    <h5>Title</h5>
                    <p>First Line</p>
                </div>
                <div class="col-xs-3 flex hdistribute">
                    <a><span class="fa-h1 cobalt"><i class="fa fa-pencil-square"></i></span></a>
                    <a><span class="fa-h1 cobalt"><i class="fa fa-wrench"></i></span></a>
                </div>
            </div>
        </li>
    </ul>
</div>
