<div class = "partial-wrapper">
    <ul class="collection partner-col">

        <a class="bar-toggle">
        <li class="collection-item no-pad">
            <div class="row flex vcenter">
                <div class="col-xs-3 no-pad"><img src = "../assets/profile.png" class="img-responsive"></img></div>
                <div class="col-xs-6">
                    <h5>Daddy’s Stock Photo City</h5>
                    <p><i class="fa fa-map-marker"></i> First Line</p>
                    <p><i class="fa fa-calendar"></i> 2nd Line</p>
                </div>
                <div class="col-xs-2"><img src = "../assets/profile.png" class="img-responsive circle"></img>
                </div>
   
            </div>
        </li>
</a>
        <li class="row flex vcenter collapse">
            <div>
            <h5>shits<br></h5>
            <p>lorem ipsum shits & gigles fml</p>
            </div>
        </li>


    </ul>
</div>

<script>
    $(document).ready(function(){
        $(".bar-toggle").onclick(function(){
            $(".collapse").toggle(500);
        });
    });
    
</script>