<div class = "partial-wrapper">
    <div class="">
        <div class="row flex vcenter">
            <div class="col-sm-2">
                <img src="/assets/profile.png" class="img-responsive circle">
            </div>
            <div class="col-sm-6">
                <h1>Donald Trump</h1>
                <p>#MakeAmericaGreatAgain #Trump2016<br><i class = "fa fa-map-marker"></i> New York, NY</p>
            </div>
        </div>
    </div>

    
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/profile.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Trump International Hotel and Tower (Chicago)</span>
      <p><i class = "fa fa-map-marker"></i> 401 N. Wabash Ave. Chicago, Illinois<br></p>
    </div>
  </div>

</div>