@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800);
/*
Sidebar : #1C578F
colbalt: #476CA1
blue-grey: #CCCFDA
*/


*, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  margin: 80px 0px 0px 240px;
    max-height: 100%;
    overflow: scroll;
}

a, a:hover, a:visited, a:link, a:active {
  color: inherit;
  text-decoration: none;
}

.spacer {
  margin-right: 15px;
}

.muted {
  opacity: 0.7;
}

.row {
    margin-bottom: 0;
}

.fa-h1{
    font-size: 2em;
}

.cobalt{
    color: #476CA1;
}

/* ====================
util
====================== */
.flex{
    display: flex;
}
.vcenter{
    align-items: center;
    justify-content: center;
}
.hdistribute{
    justify-content: space-around;
}

/* ====================
Sidebar
====================== */
.sidebar {
  background-color: #061E40;
  height: 100%;
  min-width: 240px;
  left: 0;
  position: fixed;
  top: 0;
}

.sidebar-nav li {
  list-style-type: none;
  display: block;
  height: auto;
}

.sidebar-nav li a {
  color: #CCCFDA;
  display: block;
  padding: 20px 0px 20px 0px;
  opacity: 0.8
}

.sidebar-button {
  padding-left: 20px;
}
    .sidebar-nav-bot{
    position: absolute;
    bottom: 2.5%;
    width: 100%;
}
    .sidebar-nav-bot li a{
        color: #E26EA2;
        font-weight: 800;
}

.sidebar-header {
  padding-left: 5px;
}


.logo {
  color: white;
  margin: 10px;
  margin-bottom: 15px;
  height: 50px;
  font-family: 'Pacifico', cursive;
  background-image: url('../assets/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.active,.sidebar-nav li:hover {
  background-color: #175590;
  color: #FFFFFF;
  border-right: 7px solid #E46AA3;
}

.user-info {
  height: 120px;
}

.user-info img {
  max-height: 80px;
  border-radius: 50%;
}

.info-panel {
  margin-left: 5px;
  color: #FFFFFF;
}

.profile-details {
  padding-left: 20px;
}

/* ====================
Navbar
====================== */
.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #CCCFDA;
  width: calc(100% - 240px);
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
    z-index: 2;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  height: auto;
}

.navbar a {
  display: block;
}

.navbar-left li {
  border-right: 1px solid rgba(0,0,0,.2);
}

.navbar-right li {
  border-left: 1px solid rgba(0,0,0,.2);
  padding: 0px 10px 0px 10px;
}

.profile img {
  border-radius: 50%;
  max-width: 1.4em;
}

/* ====================
Partials
====================== */
.partial-wrapper {
  margin: 8%;
}

.no-pad{
    padding: 0;
}

/* ====================
cards
====================== */
.card-image img {
    height: 30vh;
}
.card {
    width: 80%;
    margin: 5% auto 5% auto;
}
